body{
    background-color: #A0937D;
    color:#E7D4B5;
    text-align: center;
    margin:0;
    padding:0;
    height:100%;
} 


 h1 {
    font-family: "Lobster", sans-serif;
    font-size: 5rem;
    text-shadow: 5px 0 #232931;
 }


.dice-container{
 display: flex;
 justify-content: center;
 align-items: center;
 height:60%;
 gap:20px;
 margin:20px auto
}
@media (max-width:643px){
.dice-container {flex-direction: column;
}}

.player img{
width:80%;
}

.roll-btn{
margin:50px auto;
display: inline-block;
cursor: pointer;
font-size: 30px;
font-weight: 600;
border-radius: 10px;
padding: 15px 30px;
border: none;
transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: #B6C7AA;
color: #04AA6D;
} 

.roll-btn:hover {
    background-color: #04AA6D;
    color: white;
}